@font-face {
    font-family: Monument-Light;
    src: url(fonts/MonumentExtended-Light.woff2.otf);
}

@font-face {
    font-family: Monument-Bold;
    src: url(fonts/MonumentExtended-Bold.woff2.otf);
}

h1,
h2,
h3,
h4 {
    font-family: Monument-Bold;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

button {
    background: transparent;
    border: 0;
}

p {
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
    outline: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.ali-center {
    align-items: center;
}

.justi-center {
    justify-content: center;
}

header {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 100px;
}

header h1 {
    font-size: 28px;
}

header p {
    font-size: 14px;
}

.opciones {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
    background: transparent;
    margin: 0 30px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: antiquewhite;
    width: 100%;
    transition: all .2s ease-out;
    padding: 100px 0;
}

.tarjeta {
    margin: 80px;
    max-width: 400px;
}

.tarjeta h1 {
    font-size: 30px;
    transition: all .2s ease-out;
    line-height: 1.2;
    min-height: 90px;
}

.tarjeta p {
    font-size: 18px;
    line-height: 1.4;
    transition: all .2s ease-out;
    margin: 30px 0
}

.boton {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 5px 20px;
    background: white;
    border: 3px solid black;
    border-radius: 50px;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
    top: 0;
    transition: all .2s ease-out;
    cursor: pointer;
}

.boton:hover {
    top: -3px;
    background: chartreuse;
}

.noche .hero {
    background: rgb(4, 13, 35);
}

.noche .opciones {
    color: white;
}

.noche h1 {
    color: chartreuse;
}

.noche p {
    color: white;
}

.noche .boton {
    border-color: white;
    box-shadow: 3px 3px 0px 0px white;
    background-color: rgb(4, 13, 35);
    color: chartreuse;
}

.noche .boton:hover {
    color: white;
}

.switcher {
    padding: 4px 4px;
    width: 45px;
    background: white;
    border: 3px solid black;
    border-radius: 50px;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
    transition: all .2s ease-out;
    cursor: pointer;
    margin-left: 20px;
}

.switcher-boton {
    position: relative;
    background: black;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    top: 0;
    left: 0;
    transition: all .2s ease-out;
}

.noche .switcher {
    border: 3px solid white;
    box-shadow: 2px 2px 0px 0px white;
    background: rgb(4, 13, 35);
}

.noche .switcher-boton {
    left: 15px;
    background: chartreuse;
}

.seleccionado {
    border-bottom: 3px solid black;
}

@media only screen and (max-width: 600px) {
    header {
        padding: 40px 20px;
        flex-wrap: wrap;
    }
    .logo h1 {
        font-size: 25px;
    }
    .menu {
        width: 100%;
        order: 3;
        display: flex;
        justify-content: space-between;
    }
    .opciones {
        margin: 30px 0;
    }
    .soy {
        display: none;
    }
    .hero {
        padding: 120px 0;
    }
    .tarjeta {
        margin: 60px 20px;
        max-width: 400px;
    }
}

.none {
    display: none;
}